$color-white: #fff;
$color-black: #000;

$color-1: #002241;
$color-2: #008aeb;
$color-3: #e9b700;
$color-4: #31c131;

$color-grey-1: #f6f6f8;
$color-grey-2: #efeff1;
$color-grey-3: #e2e2e5;

$color-text: #233949;

$border-radius: 4px;
